.tadaAnimate{
  animation: tadaFrames ease-in-out 1.75s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  transform-origin: 50% 50%;
  -webkit-animation: tadaFrames ease-in-out 1.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: tadaFrames ease-in-out 1.75s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: tadaFrames ease-in-out 1.75s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: tadaFrames ease-in-out 1.75s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes tadaFrames{
  0% {
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  10% {
    transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  20% {
    transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  30% {
    transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  40% {
    transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  50% {
    transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  60% {
    transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  70% {
    transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  80% {
    transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  90% {
    transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  100% {
    transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
}

@-moz-keyframes tadaFrames{
  0% {
    -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  10% {
    -moz-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  20% {
    -moz-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  30% {
    -moz-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  40% {
    -moz-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  50% {
    -moz-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  60% {
    -moz-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  70% {
    -moz-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  80% {
    -moz-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  90% {
    -moz-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  100% {
    -moz-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
}

@-webkit-keyframes tadaFrames {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  10% {
    -webkit-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  20% {
    -webkit-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  30% {
    -webkit-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  40% {
    -webkit-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  50% {
    -webkit-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  60% {
    -webkit-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  70% {
    -webkit-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  80% {
    -webkit-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  90% {
    -webkit-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
}

@-o-keyframes tadaFrames {
  0% {
    -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  10% {
    -o-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  20% {
    -o-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  30% {
    -o-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  40% {
    -o-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  50% {
    -o-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  60% {
    -o-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  70% {
    -o-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  80% {
    -o-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  90% {
    -o-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  100% {
    -o-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
}

@-ms-keyframes tadaFrames {
  0% {
    -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  10% {
    -ms-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  20% {
    -ms-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  30% {
    -ms-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  40% {
    -ms-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  50% {
    -ms-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  60% {
    -ms-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  70% {
    -ms-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  80% {
    -ms-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  90% {
    -ms-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
  100% {
    -ms-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    /* Adding a border so the pixel is more visible */
    border: 3px solid black;
  }
}