
/*
	Body Styling - This is applied to all elements on the page
*/
body * {
	/* Sourced from https://fonts.google.com/ */
	font-family: 'Ubuntu', sans-serif;
}


h3 {
	color: gray;
}

/*
	Styling for other elements on the page
*/

.spacer {
	min-height: 40px;
}

.ilb {
	display: inline-block;
}


/*
	Background Colors
*/
.bgc_background {
	background-color: #021930;
}

.bgc_foreground {
	background: #224E78;
}

.bgc_white {
	background: white;
}

/* Pixel custom colors */

.bgc_pix0 {
	background-color:black; 
	color: white;
}

.bgc_pix1 {
	background-color: #0A174A; 
	color: white;
}

.bgc_pix2 {
	background-color: #464400; 
	color: white;
}

.bgc_pix3 {
	background-color: #326700; 
	color: white;
}

.bgc_pix4 {
	background-color: #3C0348; 
	color: white;
}

/* Grid custom colors */

.bgc_grid0 {
	background-color: white;
}

.bgc_grid1 {
	background-color: #0A38F5;
}

.bgc_grid2 {
	background-color: #FFFB5B;
}

.bgc_grid3 {
	background-color: #0FEF36;
}

.bgc_grid4 {
	background-color: #F50F74;
}


/* Good for control groups */
.bgc_primary1 {
	background-color: #3A638B;
}

.bgc_primary4 {
	background-color: #05294B;
}


/*
	Foreground colors
*/
.fgc_lightblue {
	color: #8DADCC;
}

.fgc_black {
	color: black;
}

.fgc_white {
	color: white;
}

/* Makes the borders rounded */
.rounded {
	border-radius: 10px;
}

/* Useful for making items dissappear*/
.hidden {
	display: none
}



/*
	Styling section for Pixels
*/

.pixel_small {
	min-height: 40px;
	min-width:  40px;
	max-height: 40px;
	max-width: 40px;
	border: 1px solid black;
	text-align: center;
	font-size: : 10px;
	/* Move the pixels closer together*/
	margin: -1px;
}

.pixel_large {
	min-height: 50px;
	min-width:  50px;
	max-height: 50px;
	max-width: 50px;
	border: 1px solid black;
	text-align: center;
	font-size: 16px;
	/* Move the pixels closer together*/
	margin: -1px;
}


/*
	Styles related to updating pixels
*/

.pixel_hover {
	border: 5px ridge #05294B;
}

.pixel_selected {
	background-color:#05294B; 
	color: white;
}

.pixel_marked {
	background-color:#2C054E; 
	color: white;
}

.pixel_correct {
	background-color:#326700; 
	color: white;
}

.pixel_incorrect {
	background-color:red;
	color: white; 
}


/* 
	Text Formatting - Use this space for classes that affect how text looks
*/

.StatusText{
	color: black;
}