
/*
	Body Styling - This is applied to all elements on the page
*/
body * {
	/* Sourced from https://fonts.google.com/ */
	font-family: 'Ubuntu', sans-serif;
}


h3 {
	color: gray;
}

/*
	Styling for other elements on the page
*/

.spacer {
	min-height: 40px;
}

.ilb {
	display: inline-block;
}


/*
	Background Colors
*/
.bgc_background {
	background-color: #021930;
}

.bgc_foreground {
	background: #224E78;
}

.bgc_white {
	background: white;
}


/*
	Foreground colors
*/
.fgc_lightblue {
	color: #8DADCC;
}

.fgc_black {
	color: black;
}


/* Makes the borders rounded */
.rounded {
	border-radius: 10px;
}

/* Useful for making items dissappear*/
.hidden {
	display: none
}



/*
	Styling section for Pixels
*/

.pixel_small {
	min-height: 35px;
	min-width:  35px;
	max-height: 35px;
	max-width: 35px;
	border: 1px solid black;
	text-align: center;
	font-size: : 10px;
	/* Move the pixels closer together*/
	margin: -1px;
}

.pixel_large {
	min-height: 45px;
	min-width:  45px;
	max-height: 45px;
	max-width: 45px;
	border: 1px solid black;
	text-align: center;
	font-size: 16px;
	/* Move the pixels closer together*/
	margin: -1px;
}


/*
	Styles related to updating pixels
*/

.pixel_hover {
	border: 5px ridge #05294B;

}

.pixel_selected {
	background-color:#05294B; 
	color: white;
}

.pixel_marked {
	background-color:#2C054E; 
	color: white;
}

.pixel_correct {
	background-color:#326700; 
	color: white;
}

.pixel_incorrect {
	background-color:red;
	color: white; 
}


/* 
	Text Formatting - Use this space for classes that affect how text looks
*/

.StatusText{
	color: black;
}