

.ilb {
	display: inline-block;
}

div.block {
	min-height: 50px;
	min-width:  50px;
	max-height: 50px;
	max-width: 50px;
	border: 1px solid black;
	text-align: center;
}

td.is_empty{
	border: 2px solid white;
}


td.is_selected{
	border: 2px solid blue;
}

td.is_wrong{
	border: 2px solid white;
}