

.ilb {
	display: inline-block;
}

div.pixel_small {
	min-height: 30px;
	min-width:  30px;
	max-height: 30px;
	max-width: 30px;
	border: 1px solid black;
	text-align: center;
	font-size: : 10px;
}

div.pixel_large {
	min-height: 45px;
	min-width:  45px;
	max-height: 45px;
	max-width: 45px;
	border: 1px solid black;
	text-align: center;
	font-size: 16px;
}




td.is_empty{
	border: 2px solid white;
}


td.is_selected{
	border: 2px solid blue;
	background-color: #0035AB;
}

td.is_wrong{
	border: 2px solid white;
}