
/*
	Styling for other elements on the page
*/

.ilb {
	display: inline-block;
}


/* Useful for making items dissappear*/
.hidden {
	display: none
}



/*
	Styling section for Pixels
*/

.pixel_small {
	min-height: 30px;
	min-width:  30px;
	max-height: 30px;
	max-width: 30px;
	border: 1px solid black;
	text-align: center;
	font-size: : 10px;
}

.pixel_large {
	min-height: 45px;
	min-width:  45px;
	max-height: 45px;
	max-width: 45px;
	border: 1px solid black;
	text-align: center;
	font-size: 16px;
}


/* Pushes the pixels closer together*/
div.pixel_small {
	margin: -2px -2px -2px -2px;
}
div.pixel_large {
	margin: -2px -2px -2px -2px;
}

/*
	Styles related to updating pixels
*/

.pixel_selected {
	background-color:darkblue; 
	color: white;
}

.pixel_marked {
	background-color:grey; 
	color: white;
}

.pixel_correct {
	background-color:lightblue; 
	color: white;
}

.pixel_incorrect {
	background-color:red;
	color: white; 
}
